@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1>Welcome to Berras!</h1>
    <p>
        Your one and only Basement-Cinema!
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
            <th>
                Seats
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    @{
        var movieList = Model.AllMovies
            .GroupBy(x => x.Title)
            .Select(x => new { Title = x.Key, Genre = x.Key});
    }
    <tbody>
        @foreach (var item in Model.AllMovies)
        {
            var freeSeats = item.Seats - Model.BookedSeats;
            var cssClass = freeSeats == 0 ? "bg-danger disabled" : "active";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td class=" @cssClass">
                    @Html.DisplayFor(modelItem => item.Seats)
                    <p>@freeSeats</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Time)
                </td>
                <td>
                    <a class="btn btn-sm btn-success float-right" asp-page="/Bookings/Tickets" asp-route-id="@item.Id">Ticket</a>
                </td>
            </tr>
        }
    </tbody>
</table>
