@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1>Welcome to Berras!</h1>
    <p>
        Your one and only Basement-Cinema!
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
            <th>
                Seats
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            var freeSeats = movie.Seats - movie.Bookings?.Sum(x => x.NumberOfSeats) ?? 0;
            var freeSeatsClass = freeSeats == 0 ? "disabled" : "";
            <tr>
                <td>
                    @movie.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
                <td>
                    @freeSeats
                </td>
                <td>
                    @Html.DisplayFor(modelitem => movie.Time)
                </td>
                <td>
                    <a class="btn btn-sm btn-success float-right @freeSeatsClass" asp-page="/Bookings/Tickets" asp-route-id="@movie.Id">Ticket</a>
                </td>
            </tr>
        }
    </tbody>
</table>
